<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/select.css}" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/select.js}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/whmanage.js}" ></script>
    <style type="text/css">
        tr,td,th{
            text-align: center;
        }
    </style>
</head>
<body style="margin-left: 100px;">
<Br>


    <Br>
    <form class="layui-form" id="frm" action="">
        <input type="hidden" name="id">
         <div class="layui-form-item">
            <label class="layui-form-label">仓库编号</label>
            <div class="layui-input-inline">
                <input type="text" name="username" required  lay-verify="required" placeholder="仓库编号由系统生成" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">仓库名称</label>
            <div class="layui-input-inline">
                <input type="text" name="sex" required  lay-verify="required" placeholder="仓库名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">仓库面积</label>
            <div class="layui-input-inline">
                <input type="text" name="city" required  lay-verify="required" placeholder="仓库面积" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
		    <label class="layui-form-label">仓库类型</label>
		    <div class="layui-input-inline">
		      <select name="sign" lay-filter="aihao">
		        <option value="0">平方仓库</option>
		        <option value="1" selected="">楼房仓库</option>
		      </select>
		    </div>
		</div>
        <div class="layui-form-item" id="addressDiv">
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-inline">
                <select name="P1" lay-filter="province" id="province">
                    <option></option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="C1" lay-filter="city" id="city">
                    <option></option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="A1" lay-filter="area" id="area">
                    <option></option>
                </select>
            </div>
            <div class="layui-input-inline" id="addressDetail">
                <input id="address" type="text" name="address" lay-verify="title" autocomplete="off"
                       placeholder="请输入具体地址" class="layui-input" style="width: 120%;">
                <dl id="addressTip" class="addressDl">
                </dl>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">确认修改 </button>
            </div>
        </div>
    </form>
<script>
    //Demo
    layui.use(['form','jquery','layer'], function(){
        var form = layui.form;
        var $ = layui.$;
        var layer  = layui.layer;

        //监听提交
        form.on('submit(formDemo)', function(data){

            $.ajax({
                url:"/txt/whmanage.json",
                type:"post",
                data:$("#frm").serialize(),
                success:function(data){
                    //layer.msg("添加成功!");
                    layer.alert("修改成功",function () {
                        window.parent.location.reload();
                    });
                }
            });
            return false;
        });
    });
</script>


</body>
</html>